.title {
    font-size: 1rem;
    //font-weight: bold;
}

.ellipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.subTitle {
    margin-left: 4px;
    font-size: .75rem;
    color: var(--multi-player-secondary-text-color);
    vertical-align: middle;

    &::before {
        content: "(";
    }

    &::after {
        content: ")";
    }
}
