// 选中主要颜色
@multi-player-primary-color: #52c41a;
// 背景色
@multi-player-background-color: #121212;
// 文字颜色
@multi-player-text-color: #fff;
// 边框颜色
@multi-player-border-color: #000;
//  操作列高度
@ACTION-HEIGHT: 30px;
:root {
    --multi-player-primary-color: #52c41a;
    --multi-player-background-color: #121212;
    --multi-player-text-color: #fff;
    --multi-player-border-color: #000;
}

.main {
    background-color: var(--multi-player-background-color, @multi-player-background-color);
    height: 100%;
    position: relative;
    overflow: hidden;

    .bottomMain {
        height: @ACTION-HEIGHT;
        @WIDTH: 32px;
        position: relative;
        z-index: 1;

        .bottom {
            min-width: 32px;
            color: var(--multi-player-text-color, @multi-player-text-color);
        }

        .bottomContent {
            display: flex;
            padding: 0px @WIDTH / 2;
            align-items: center;

            .left {
                min-width: 1px;
                display: flex;
                flex-shrink: 1;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }

            .center {
                min-width: 1px;
                display: flex;
                flex-shrink: 0;
            }

            .right {
                min-width: 34px;
                display: flex;
                justify-content: flex-end;
                margin-left: auto;
                flex-shrink: 0;
            }
        }

        .hr {
            border-color: var(--multi-player-border-color, @multi-player-border-color);
        }
    }

    .content {
        height: calc(100% - @ACTION-HEIGHT);

        .item {
            height: 100%;
            #playerBase() {
                border-radius: 0px;
                border-width: .5px;
                background-color: transparent;
                width: calc(100% - 1px);
                height: calc(100% - 1px);
            }
            // 播放器样式
            .player {
                #playerBase();
            }

            .selected {
                #playerBase();
                border: .5px solid var(--multi-player-primary-color, @multi-player-primary-color);
            }
        }
    }

    .hidden {
        display: none;
    }
}

.menu {
    :global .MuiButtonBase-root.MuiMenuItem-root.Mui-selected {
        //background-color: var(--multi-player-primary-color, @multi-player-primary-color);
        //color: var(--multi-player-text-color, @multi-player-text-color);
    }

    .menuItem {
        display: flex;
        align-items: center;

        img {
            margin-right: 8px;
        }
    }
}
